<h1>New user</h1>
<form class="form" action="<%= users_url %>" method="post">
  <%= authentic_form %>
  <label for="Username">Username</label>
  <input type="text" name="user[username]"
  value="<%= @user.username %>" id="Username">
  <br>
  <label for="Password">Password</label>
  <input type="password" name="user[password]" id="Password">
  <br>
  <button>Sign Up</button>
</form>
